.reveal-card {
  position: relative;
  height: 300px;
  width: 230px;
}

.reveal-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: pink;
  background: linear-gradient(
    0deg,
    #3e0000 0%,
    rgba(255, 0, 0, 1) 60%,
    #3e0000 100%
  );
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    100% 70%,
    50% 100%,
    50% 100%,
    0 70%
  );
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/* Top, Right, & Left Side Polygons General Styling  */
.reveal-top {
  position: absolute;
  top: 0px;
  left: 0;
  width: 0px;
  height: 0px;
  z-index: 2;
  border-top: 115px solid black;
  border-left: 115px solid transparent;
  border-right: 115px solid transparent;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
}

.reveal-side {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  background: black;
  background: black;
  clip-path: polygon(0% 0%, 50% 0, 95% 45%, 100% 100%, 0% 100%);

  /* If you want the polygons to fully close, change the clip path to the following */
  /* clip-path: polygon(0% 0%, 50% 0, 101% 38%, 100% 100%, 0% 100%); */

  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
}

.reveal-left {
  left: 0;
}

.reveal-right {
  right: 0;
  transform: translateX(50%) scale(-1, 1);
}

/* Card Hover: Polygon Position Change */
.reveal-card:hover .reveal-top {
  top: -50px;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
}

.reveal-card:hover .reveal-left {
  left: -50px;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
}

.reveal-card:hover .reveal-right {
  right: -50px;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
}

/* Title General Styling & Card Hover Change  */
.reveal-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
  top: 90px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  filter: drop-shadow(0 0 15px white);

  z-index: 10;
  transition: all 0.5s ease-out 1.1s;
}

.reveal-card:hover .reveal-title {
  transform: scale(1) translateX(-50%);
  transition-delay: 0.2s;
}

.reveal-button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Buttons General Styling */
.reveal-button {
  cursor: pointer;
  position: absolute;
  transform: translateX(-50%);
  padding: 5px 5px 10px 5px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    100% 70%,
    50% 100%,
    50% 100%,
    0 70%
  );
  background: black;
  border: none;
  color: white;
  display: grid;
  place-content: center;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* Buttons Icon Style & Hover  */
.reveal-button .reveal-icon {
  width: 20px;
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.reveal-button:hover .reveal-icon {
  transform: scale(1.4);
  filter: drop-shadow(0 0 10px white);
}

.reveal-button:active .reveal-icon {
  transform: scale(0.7);
}

/* Buttons Starting Position */
.reveal-button:nth-child(1) {
  bottom: 300px;
  transition-delay: 0.4s;
}

.reveal-button:nth-child(2) {
  bottom: 300px;
  transition-delay: 0.6s;
}

.reveal-button:nth-child(3) {
  bottom: 300px;
  transition-delay: 0.8s;
}

/* Card Hover: Button Position Change */
.reveal-card:hover .reveal-button:nth-child(1) {
  bottom: 100px;
  transition-delay: 0.8s;
}

.reveal-card:hover .reveal-button:nth-child(2) {
  bottom: 50px;
  transition-delay: 0.6s;
}

.reveal-card:hover .reveal-button:nth-child(3) {
  bottom: 0;
  transition-delay: 0.4s;
}
