.sliding-container {
  /* color used to softly clip top and bottom of the .sliding-words container */
  --bg-color: #212121;
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 1.25rem;
}
.sliding-loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: flex;
  border-radius: 8px;
}

.sliding-words {
  overflow: hidden;
  position: relative;
}
.sliding-words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.sliding-word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #956afa;
  animation: slideIn 4s infinite;
}

@keyframes slideIn {


  33% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }


  66% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }



  100% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

}
